# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# build
dist/

# debug
npm-debug.log*

# env
.env
.env.local
.env.*.local

# turbo
.turbo/

# misc
.DS_Store
*.tsbuildinfo

# firebase
.firebase/

# Secretos y Credenciales (IMPORTANTE)
scripts/serviceAccount.json
*.json.local
.runtimeconfig.json